$text-color: rgb(31, 39, 43);
$colour-bar: rgb(114, 103, 56);
$colour-object: rgb(90, 71, 56);
$colour-primary: #d3d3d3;
$colour-secondary: #657075;
$colour-dark: rgb(41, 35, 31);
$colour-active: #794014;
