.btn {
    background-color: $colour-bar;
    border:none;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    outline: none!important;


    &:visited{
        background-color: $colour-bar;
    }
    &:hover, &:focus, &:active{
        background-color: $colour-active!important;  
        outline:none;
        border: none;
    }

}
